{% extends '::base.html.twig' %}

{% block title -%}Stalai |{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-md-12">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="btn-group" role="group" aria-label="...">
                    <a class="btn btn-success btn-lg btn-block" href="{{ path('table_new') }}">
                        Turi Stalą? Registruok!
                    </a>
                </div>
            {% endif %}
            <h1>Stalai</h1>
        </div>
    </div>
    <div class="list-group row">
        {% for table in tables %}
            <a href="{{ url('table_show', {id: table.id}) }}" class="list-group-item col-xs-12 col-sm-6">
                <div>
                    <h6>{{ table.name }}</h6>
                    <ul class="list-unstyled">
                        <li></li>
                        <li>{{ table.address }}, {{ table.city }}</li>
                        <li>{{ table.availableFrom|date('H:i') }} - {{ table.availableTo|date('H:i') }}</li>
                        <li>{{ table.owner.email }}</li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                {{ table.private == 1 ? '<span class="glyphicon glyphicon-user"></span>' : '' }}
                                {{ table.disabled == 1 ? '<span class="glyphicon glyphicon-off"></span>' : '' }}
                                {{ table.free == 1 ? '<span class="glyphicon glyphicon-play text-success"></span>' : '<span class="glyphicon glyphicon-stop text-danger"></span>' }}
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
