{% extends '::base.html.twig' %}

{% block title -%}Stalo kūrimas |{% endblock %}

{% block body -%}
    <main>
        <div class="jumbotron panel-heading">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>Stalo kūrimas</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div id="actions" class="row text-center">
                <div class="col-xs-6 col-md-offset-2 col-md-4">
                    <a class="btn btn-primary btn-block btn-lg" href="{{ path('tables') }}">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    {{ form_widget(form.submit) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    {{ form_row(form.name) }}
                    {{ form_row(form.address) }}
                    {{ form_row(form.city) }}
                    {{ form_row(form.lat) }}
                    {{ form_row(form.long) }}
                    {{ form_row(form.availableFrom) }}
                    {{ form_row(form.availableTo) }}
                    {{ form_row(form.api) }}
                    {{ form_row(form.private) }}
                    {{ form_row(form.group.name) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {% javascripts '@LiuksTableBundle/Resources/public/table_create_form.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
