{% extends '::base.html.twig' %}

{% block title -%}Stalas {{ table.id }} |{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ table.address }}, {{ table.city }}<br>
                <small><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ table.availableFrom|date('H:i') }} - {{ table.availableTo|date('H:i') }}</small>
            </h1>
        </div>
    </div>
    {% if table.owner == app.user or is_granted('ROLE_ADMIN') %}
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li><a href="{{ path('tables') }}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></li>
                    <li><a href="{{ path('table_edit', { 'id': table.id }) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></li>
                    <li>{{ form(delete_form) }}</li>
                </ul>
            </div>
        </div>
    {% endif %}
    {% if table.private %}
        <div class="row">
                <div class="col-md-12">
                    <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Prie šio stalo gali žaisti tik {{ table.group.name }} grupės nariai.</p>
                </div>
        </div>
    {% endif %}
    <div id="game-info" class="row">
        <div class="col-md-12">
            {% if table.free %}
                <h2>Stalas yra laisvas!</h2>
            {% elseif game %}
                <h2>Šiuo metu vyksta žaidimas</h2>
                <h3 class="text-center">{{ game.getGoals(0) }} : {{ game.getGoals(1) }}</h3>
                <table class="table table-striped text-center">
                    <tr>
                        <td>
                            {{ game.getUser(0) is empty ? 'Svečias' : game.user(0).getName() }}
                        </td>
                        <td>
                            {{ game.getUser(1) is empty ? 'Svečias' : game.user(1).getName() }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            VS
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ game.getUser(2) is empty ? 'Svečias' : game.user(2).getName() }}
                        </td>
                        <td>
                            {{ game.getUser(3) is empty ? 'Svečias' : game.user(3).getName() }}
                        </td>
                    </tr>
                </table>
            {% else %}
                <div id="tournament"></div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Laikas</th>
                    <th>Komanda A</th>
                    <th>Komanda B</th>
                    <th>Rezultatas</th>
                </tr>
                </thead>
                <tbody>
                {% for game in games %}
                    <tr>
                        <td>{{ game.startTime|date('H:i') }} - {{ game.endTime == 0 ? 'TBD' : game.endTime|date('H:i') }}</td>
                        <td>{{ game.user(0) is empty ? 'Svečias' : game.user(0).getName() }} ir {{ game.user(1) is empty ? 'Svečias' : game.user(1).getName()}}</td>
                        <td>{{ game.user(2) is empty ? 'Svečias' : game.user(2).getName() }} ir {{ game.user(3) is empty ? 'Svečias' : game.user(3).getName()}}</td>
                        <td> {{ game.goals(0) }} : {{ game.goals(1) }} </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="4"><a href="#">Rezervuoti</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        jQuery(document).ready(function($)
        {
            var tournament = $('#tournament');
            if (tournament.length > 0)
            {
                $.ajax({
                    method: "get",
                    url: "{{ url('table_tournament', {'table_id': table.id}) }}",
                    success: function(msg)
                    {
                        var $resp = $(msg);
                        var tournament_info = $resp.find('#tournament-info');
                        var script = $.grep($resp, function(e){ return e.id == 'tournament-script'; });
                        $('#game-info').replaceWith(tournament_info);
                        $('body').append(script);
                    }
                });
            }
        });
    </script>
{% endblock %}