{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Table</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Address</th>
                <td>{{ entity.address }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ entity.city }}</td>
            </tr>
            <tr>
                <th>Availablefrom</th>
                <td>{{ entity.availableFrom|date('H:i') }}</td>
            </tr>
            <tr>
                <th>Availableto</th>
                <td>{{ entity.availableTo|date('H:i') }}</td>
            </tr>
            <tr>
                <th>Api</th>
                <td>{{ entity.api }}</td>
            </tr>
            <tr>
                <th>Private</th>
                <td>{{ entity.private }}</td>
            </tr>
            <tr>
                <th>Free</th>
                <td>{{ entity.free }}</td>
            </tr>
            <tr>
                <th>Disabled</th>
                <td>{{ entity.disabled }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('tables') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('table_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
