{% extends '::base.html.twig' %}

{% block title -%}Stalas {{ table.id }} |{% endblock %}

{% block body -%}
    {{ include('LiuksTableBundle:Table:tableShowBody.html.twig', {tools: true}) }}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Laikas</th>
                    <th>Komanda A</th>
                    <th>Komanda B</th>
                    <th>Rezultatas</th>
                </tr>
                </thead>
                <tbody>
                {% for game in games %}
                    <tr>
                        <td>
                            {{ game.startTime|date('H:i') }} - {{ game.endTime == 0 ? 'TBD' : game.endTime|date('H:i') }}
                        </td>
                        <td>
                            {{ game.user(0) is empty ? 'Sve훾ias' : game.user(0).getName() }}
                            ir {{ game.user(1) is empty ? 'Sve훾ias' : game.user(1).getName() }}
                        </td>
                        <td>
                            {{ game.user(2) is empty ? 'Sve훾ias' : game.user(2).getName() }}
                            ir {{ game.user(3) is empty ? 'Sve훾ias' : game.user(3).getName() }}
                        </td>
                        <td> {{ game.goals(0) }} : {{ game.goals(1) }} </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="4"><a href="#">Rezervuoti</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts '@LiuksTableBundle/Resources/public/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}