{% extends '::base.html.twig' %}

{% block title -%}{{ user.name }} {{ user.surname }} redagavimas |{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group" role="group">
                <a class="btn btn-primary" href="{{ path('users') }}">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </a>
                <a class="btn btn-danger" href="#delete_popup" id="delete-btn">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
            </div>
            <div id="delete_popup" style="display: none;">
                <p>Ar tikrai norite ištrinti šį vartotoją?</p>

                <div class="text-center">
                    {{ form_start(delete_form) }}
                    {{ form_row(delete_form.submit) }}
                    {{ form_end(delete_form) }}
                </div>
            </div>

            <h1 class="text-center">Profilio redagavimas</h1>

            {{ form(edit_form) }}
        </div>
    </div>
{% endblock %}
