{% extends '::base.html.twig' %}

{% block title -%}Individualūs reitingai |{% endblock %}

{% block body -%}
    <main>
        <div class="jumbotron panel-heading">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>Individualus reitingas</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 page-content-table">
                    <div class="table-responsive">
                        <table class="sortable-table table table-striped table-condensed">
                            <thead>
                            <tr>
                                <th>Vardas</th>
                                <th>Žaista</th>
                                <th>Laimėta</th>
                                <th>Pralaimėta</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>
                                        <a href="{{ path('users_show', {'id': user.id}) }}">
                                            {{ user.name }} {{ user.surname }}
                                        </a>
                                    </td>
                                    <td>{{ user.gamesPlayed }}</td>
                                    <td>{{ user.gamesWon }}</td>
                                    <td>{{ user.gamesPlayed - user.gamesWon }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts -%}
    {% javascripts 'js/jquery.tablesorter.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(
                function ()
                {
                    $(".sortable-table ").tablesorter(
                            {
                                sortList: [[2, 1], [1, 1]]
                            }
                    );
                }
        );
    </script>
{% endblock %}
