{% extends '::base.html.twig' %}

{% block title -%}Naudotojai |{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-md-12">
            <h1>Naudotojai</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Foto</th>
                    <th>Pilnas vardas</th>
                    <th>El. paštas</th>
                    <th>Žaista</th>
                    <th>Laimėta</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>Facebook ID</th>
                        <th>Rolės</th>
                        <th>Veiksmai</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td><a href="{{ path('users_show', { 'id': user.id }) }}"><img src="{{ user.picture }}"/></a></td>
                        <td>{{ user.name }} {{ user.surname }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.gamesPlayed }}</td>
                        <td>{{ user.gamesWon }}</td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>{{ user.facebookId }}</td>
                            <td>{{ user.roles|join(', ') }}</td>
                            <td>
                                <ul class="list-inline">
                                    <li>
                                        <a href="{{ path('users_edit', { 'id': user.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                                    </li>
                                    <li>
                                        <a href="{{ path('users_show', { 'id': user.id }) }}"><span class="glyphicon glyphicon-chevron-right"></span></a>
                                    </li>
                                </ul>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
