{% extends '::base.html.twig' %}

{% block title -%}Individualūs reitingai |{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-md-12">
            <h1>Individualūs reitingai</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Vardas</th>
                    <th>Žaista</th>
                    <th>Laimėta</th>
                    <th>Pralaimėta</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>Veiksmai</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.name }} {{ user.surname }}</td>
                        <td>{{ user.gamesPlayed }}</td>
                        <td>{{ user.gamesWon }}</td>
                        <td>{{ user.gamesPlayed - user.gamesWon }}</td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>
                                <div class="btn-group" role="group">
                                    <a class="btn btn-warning" href="{{ path('users_edit', { 'id': user.id }) }}">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                    <a class="btn btn-primary" href="{{ path('users_show', { 'id': user.id }) }}">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
