{% extends '::base.html.twig' %}

{% block title -%}Naudotojas {{ entity.name }} {{ entity.surname }} |{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-md-12">
            <h1>Vartotojas</h1>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>Kortelės ID</th>
                    <td>{{ entity.cardId }}</td>
                </tr>
                <tr>
                    <th>Pilnas vardas</th>
                    <td>{{ entity.name }} {{ entity.surname }}</td>
                </tr>
                <tr>
                    <th>El. paštas</th>
                    <td>{{ entity.email }}</td>
                </tr>
                <tr>
                    <th>Tipas</th>
                    <td>{{ entity.type }}</td>
                </tr>
                <tr>
                    <th>Žaista</th>
                    <td>{{ entity.gamesPlayed }}</td>
                </tr>
                <tr>
                    <th>Laimėta</th>
                    <td>{{ entity.gamesWon }}</td>
                </tr>
                </tbody>
            </table>

            <ul class="list-inline">
                <li><a href="{{ path('users') }}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></li>
                <li><a href="{{ path('users_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></li>
                <li>{{ form(delete_form) }}</li>
            </ul>
        </div>
    </div>
{% endblock %}
