{% extends '::base.html.twig' %}

{% block title -%}Turnyrai |{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-md-12">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="btn-group" role="group">
                    <a class="btn btn-success btn-lg btn-block" href="{{ path('tournament_new') }}">
                        Sukurk naują turnyrą!
                    </a>
                </div>
            {% endif %}
            <h1>Turnyrai</h1>
        </div>
    </div>
    <div class="list-group row">
        {% for tournament in tournaments %}
            <a href="{{ url('tournament_show', {id: tournament.id}) }}" class="list-group-item col-xs-12">
                <div>
                    <h6>
                        {{ tournament.name }}
                        <small>{{ tournament.table.address }}, {{ tournament.table.city }}</small>
                    </h6>
                    <ul class="list-unstyled">
                        {% if tournament.endTime == 0 %}
                            <li>
                                Turnyras prasidės už
                                {% set diff = date().diff(date(tournament.startTime)) %}
                                {% if diff.days > 1 %}
                                    {{ diff.days }} dienų
                                {% else %}
                                    {{ diff.h }} val.
                                {% endif %}
                            </li>
                        {% endif %}
                        <li>
                            <span class="glyphicon glyphicon-time"></span>
                            {{ tournament.startTime|date('Y-m-d H:i') }}
                            {% if tournament.endTime != 0 %}
                                - {{ tournament.endTime|date('Y-m-d H:i') }}
                            {% endif %}
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-envelope"></span>
                            {{ tournament.organizer.email }}
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-user"></span>
                            {{ tournament.competitors }}
                        </li>
                    </ul>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
