{% extends '::base.html.twig' %}

{% block title -%}Turnyro kūrimas |{% endblock %}

{% block body -%}
    <main>
        <div class="jumbotron panel-heading">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>Turnyro kūrimas</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div id="actions" class="row text-center">
                <div class="col-xs-6 col-md-offset-2 col-md-4">
                    <a class="btn btn-primary btn-block btn-lg" href="{{ path('tournaments') }}">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    {{ form_widget(form.submit) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    {{ form_row(form.name) }}
                    {{ form_row(form.startTime) }}
                    {{ form_row(form.table) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}