{% extends '::base.html.twig' %}

{% block title -%} Turnyras {{ tournament.name }} |{% endblock %}

{% block body -%}
    <main>
        <div class="jumbotron panel-heading">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <strong>
                            <a href="{{ path('table_show', {'id': tournament.table.id}) }}">
                                "{{ tournament.table.name }}"
                                {{ tournament.table.address }}, {{ tournament.table.city }}
                            </a>
                        </strong>
                        <h3> "{{ tournament.name }}" </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div id="actions" class="row text-center">
                {% set canEdit = (is_granted('IS_AUTHENTICATED_FULLY') and (is_granted('ROLE_ADMIN') or app.user == tournament.organizer)) %}
                <div class="{{ canEdit ? 'col-xs-4' : 'col-xs-12 col-md-offset-4 col-md-4' }} ">
                    <a class="btn btn-primary btn-block" href="{{ path('tournaments') }}">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </a>
                </div>
                {% if canEdit %}
                    <div class="col-xs-4">
                        <a class="btn btn-warning btn-block" href="{{ path('tournament_edit', {id: tournament.id}) }}">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a class="btn btn-danger btn-block" href="#delete_popup" id="delete-btn">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </div>
                {% endif %}
            </div>
            {% if canEdit %}
                <div id="delete_popup" style="display: none;">
                    <div class="form-group text-center">
                        <h5>Ar tikrai norite ištrinti šį turnyrą?</h5>
                    </div>
                    {{ form_start(delete_form) }}
                    {{ form_row(delete_form.submit) }}
                    {{ form_end(delete_form) }}
                </div>
            {% endif %}
        </div>
        <div id="tournament-info" class="container"
             data-url="{{ url('tournament_show', {'id': tournament.id}) }}"
             data-dataurl="{{ url('table_status', {'id': tournament.table.id}) }}">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-center">
                        {% if date(tournament.startTime) > date() and tournament.endTime == 0 %}
                            Turnyras prasidės už <br>
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            {% set diff = date().diff(date(tournament.startTime)) %}
                            {% if diff.d > 0 %}
                                {{ diff.d }} d.
                            {% endif %}
                            {% if diff.h > 0 %}
                                {{ diff.h }} val.
                            {% endif %}
                            {{ diff.i }} min.
                        {% elseif date(tournament.startTime) < date() and tournament.endTime == 0 %}
                            Šiuo metu vyksta turnyras
                        {% else %}
                            {{ tournament.startTime|date('Y-m-d H:i') }}<br>
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span><br>
                            {{ tournament.endTime|date('Y-m-d H:i') }}
                        {% endif %}
                    </h4>
                    {% if tournament.endTime != 0 %}
                        <h5 class="text-center">Turnyras jau pasibaigė</h5>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% if (date(tournament.startTime) <= date() and tournament.endTime == 0)
                    or (is_granted('ROLE_ADMIN') or app.user == tournament.organizer)
                    or tournament.endTime != 0 %}
                        {% if not game == NULL %}
                            <div id="game" class="row page-content">
                                <div class="col-xs-12 col-sm-4 text-left">
                                    <h6>{{ game.competitor1.team.name }}</h6>
                                </div>
                                <div class="col-xs-12 col-sm-4 text-center">
                                    <div class="row">
                                        <div class="col-xs-4"><span class="score">{{ game.goals(0) }}</span></div>
                                        <div class="col-xs-4"><h4>VS</h4></div>
                                        <div class="col-xs-4"><span class="score">{{ game.goals(1) }}</span></div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 text-right">
                                    <h6>{{ game.competitor2.team.name }}</h6>
                                </div>
                            </div>
                        {% endif %}
                        <div id="tournament"
                             data-url="{{ url('tournament_update_from_json', {'id': tournament.id}) }}"
                             data-data='{{ data }}'>
                        </div>
                    {% elseif not isCompetitor %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <h3 class="text-center">Prisijunkite prie turnyro</h3>
                            <div class="list-group row page-content" id="join_tournament">
                                <a href="#new_team" title="Nauja komanda" id="new_team_popup"
                                   class="list-group-item {{ teams ? 'col-xs-6' : 'col-xs-12' }}">
                                    <span class="glyphicon glyphicon-plus center-block" aria-hidden="true"></span>

                                    <p>Nauja komanda</p>
                                </a>
                                {% if teams %}
                                    <a href="#existing_team" title="Jūsų komanda" id="existing_team_popup"
                                       class="list-group-item col-xs-6">
                                        <span class="glyphicon glyphicon-user center-block" aria-hidden="true"></span>

                                        <p>Jūsų komanda</p>
                                    </a>
                                {% endif %}
                                {% for competitor in competitors %}
                                    <a href="#" class="play list-group-item col-xs-6 center-block"
                                       data-url="{{ url('tournament_add_player', {id: tournament.id }) }}"
                                       data-team="{{ competitor.team.id }}">
                                        Prisijungti prie
                                        {{ competitor.team.captain.name }} {{ competitor.team.captain.surname }}
                                        komanda
                                    </a>
                                {% endfor %}
                            </div>
                            <div id="popups" style="display: none;">
                                <div id="new_team">
                                    <form>
                                        <div class="form-group">
                                            <h4 class="text-center">Įveskite komandos pavadinimą</h4>
                                        </div>
                                        <div id="team_name_form" class="form-group">
                                            <label class="sr-only" for="team_name">Komandos pavadinimas</label>
                                            <span class="help-block hidden">Blogas komandos pavadinimas</span>
                                            <input type="text" class="form-control" placeholder="Pavadinimas">
                                        </div>
                                        <button id="create_team" class="btn btn-success btn-block"
                                                data-team="new"
                                                data-url="{{ url('tournament_add_player', {id: tournament.id }) }}">
                                            Sukurti
                                        </button>
                                    </form>
                                </div>
                                <div id="existing_team">
                                    <form>
                                        <div class="form-group">
                                            <h4 class="text-center">Pasirinkite komandą</h4>
                                        </div>
                                        <div id="team_select_form" class="form-group">
                                            <label class="sr-only" for="teams_select">Komandos pavadinimas</label>
                                            <span class="help-block hidden">Blogas komandos pavadinimas</span>
                                            <select id="teams_select" name="teams_select" required="required"
                                                    class="form-control">
                                                <option value="" selected="selected">Pasirinkite Komandą</option>
                                                {% for team in teams %}
                                                    <option value="{{ team.id }}">{{ team.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <button id="add_team" class="btn btn-success btn-block"
                                                data-team="existing"
                                                data-url="{{ url('tournament_add_player', {id: tournament.id }) }}">
                                            Sukurti
                                        </button>
                                    </form>
                                </div>
                            </div>
                        {% else %}
                            <h3 class="text-center">Jeigu norite dalyvauti turnyre prašome prisijungti.</h3>
                        {% endif %}
                    {% elseif is_granted('IS_AUTHENTICATED_FULLY') %}
                        <h3 class="text-center">Jūs jau dalyvaujate šiame turnyre.</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>

    <footer class="panel-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <p>Susisiekite su organizatoriumi:</p>

                    <p>
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        {{ tournament.organizer.email }}
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <p>Dalyvių skaičius:</p>

                    <p>
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        {{ tournament.competitors }}
                    </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    {% if is_granted('ROLE_ADMIN') or app.user == tournament.organizer %}
        {% javascripts '@LiuksGameBundle/Resources/public/bracketAdmin.js' %}
        <script id="tournament-script" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% else %}
        {% javascripts '@LiuksGameBundle/Resources/public/bracket.js' %}
        <script id="tournament-script" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
{% endblock %}
