{% extends '::base.html.twig' %}

{% block title -%} Turnyras {{ tournament.name }} |{% endblock %}

{% block body -%}

    <div class="row">
        <div class="col-md-12">
            <h1>
                {{ tournament.name }}<br>
                <small>
                    <span class="glyphicon glyphicon-king" aria-hidden="true"></span>
                    {{ tournament.organizer.email }}
                </small>
                <small>
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    {{ tournament.startTime|date('Y-m-d H:i') }}
                </small><br>
                <small>
                    <a href="{{ path('table_show', {'id': tournament.table.id}) }}">
                        <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
                        {{ tournament.table.address }}
                    </a>
                </small>
            </h1>
        </div>
    </div>

    {% if tournament.organizer == app.user or is_granted('ROLE_ADMIN') %}
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li><a href="{{ path('tournaments') }}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></li>
                    <li><a href="{{ path('tournament_edit', { 'id': tournament.id }) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></li>
                    <li>{{ form(delete_form) }}</li>
                </ul>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <div id="tournament"></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script id="tournament-script">
        jQuery(document).ready(function($){
            var data = {{ data|json_encode|raw }};
            if (typeof data != "undefined")
            {
                $('#tournament').bracket({
                    init: data
                });
            }
        });
    </script>
{% endblock %}
