{% extends '::base.html.twig' %}

{% block title -%}Komandos "{{ team.name }}" redagavimas |{% endblock %}

{% block body -%}
    <main>
        <div class="jumbotron panel-heading">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>Komandos "{{ team.name }}" redagavimas</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div id="actions" class="row text-center">
                <div class="col-xs-4">
                    <a class="btn btn-primary btn-block btn-lg" href="{{ path('teams_show', { id: team.id }) }}">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a class="btn btn-danger btn-block btn-lg" href="#delete_popup" id="delete-btn">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                </div>
                <div class="col-xs-4">
                    {{ form_widget(form.submit) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    {{ form_row(form.name) }}
                    {{ form_row(form.player.email) }}
                </div>
            </div>
            {{ form_end(form) }}
            <div id="delete_popup" style="display: none;">
                <div class="form-group text-center">
                    <h5>Ar tikrai norite ištrinti šią komandą?</h5>
                </div>
                {{ form_start(delete_form) }}
                {{ form_row(delete_form.submit) }}
                {{ form_end(delete_form) }}
            </div>
        </div>
    </main>
{% endblock %}
